Transaction Number : <%= cart.transaction_number %>
<br/><br/>
List My Cart
<table border="1">
	<tr>
		<td>Item Code</td>
		<td>Item Description</td>
		<td>Request Quantity</td>
		<td>Price</td>
		<td>Status Promo</td>
		<td>Total Price</td>
		<td>Ketersediaan</td>
		<td>Description</td>
	</tr>
	<% @cart_details.each do |cart_detail| %>
		<tr>
			<td><%= cart_detail.product.item_code %></td>
			<td><%= cart_detail.product.item_description %></td>
			<td><%= cart_detail.quantity %></td>
			<td><%= cart_detail.product.item_price %></td>
			<td><%= cart_detail.product.promo_description %></td>
			<td><%= cart_detail.total_price %></td>
			<td><%= cart_detail.available_qty %></td>
			<td><%= cart_detail.description_promo %></td>
		</tr>
	<% end %>
</table>