Promo : <%= @promo.promo_description %>

<br/><br/><br/>
Detail Promo<br/>
========================
<br/><br/>
<table border="1">
	<tr>
		<td>Product</td>
		<td>Type Promo</td>
		<td>Qty Promo</td>
		<td>Type Target</td>
		<td>Value Target</td>
		<td>Quantity Target</td>
		<td>Option</td>
	</tr>
	<% if @promo.promo_details.blank? %>
		<tr>
			<td colspan="5">Data tidak ditemukan</td>
		</tr>
	<% else %>
		<% @promo.promo_details.each do |promo_detail| %>
			<tr>
				<td><%= promo_detail.product_value.item_description %></td>
				<td><%= promo_detail.type_promo %></td>
				<td><%= promo_detail.quantity_promo %></td>
				<td><%= promo_detail.type_target %></td>
				<td><%= promo_detail.value_target %></td>
				<td><%= promo_detail.quantity_target %></td>
				<td><%= link_to "Remove Promo", "#" %></td>
			</tr>
		<% end %>
	<% end %>
</table>
<br/>