<table border="1">
	<tr>
		<td>Kode Item</td>
		<td>Nama Item</td>
		<td>Harga</td>
		<td>Promo</td>
		<td>Ketersediaan</td>
	</tr>
<% @products.each do |product| %>
	<tr>
		<td><%= link_to "#{product.item_code}", product_path(product) %></td>
		<td><%= product.item_description %></td>
		<td><%= product.item_price %></td>
		<td><%= product.promo_description %></td>
		<td><%= product.qty_available %></td>
	</tr>
<% end %>
</table>